<%- include("header") -%>

    <section class="sec1">
      <h2>Create a new Collab</h2>

      <form class="queueForm" action="/collab/new" method="POST">
        <div class="form-group">
          <label for="title">Project title</label>
          <input type="text" class="form-control" name="title" required>
        </div>
        <div class="form-group">
          <label for="desc">Description</label>
          <input type="text" class="form-control" name="desc" required>
        </div>
        
        <div class="form-group">
          <label for="link">Project link (github, beehance, etc.)</label>
          <input type="url" class="form-control" name="link" required>
        </div>
        <button type="submit" class="subBtn">Create</button>
      </form>
    </section>

    <!--Local Scripts-->
    <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
</html>
