
<%- include("header") -%>
     <div>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" href="/styles/profile.css">
          <div class="card">
          <h1>user.name/h1>
          <p class="title">CEO & Founder, Example</p>
          <p>Harvard University</p>
          <a href="#"><i class="fa fa-github"></i></a>
          <p>Email : user.username</p>
          </div>
     </div>
     </body>
</html>